

.outer-container-login {
    display: flex;
    alignment: top;
}
.inner-container-login {
    display: flex;
    padding-bottom: 130px;
    justify-content: center;
    width: 90vw;

}

.silk-1 {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 130px;


}

