.page {
    max-width: 1000px;
    margin: 60px auto;
}


.wrapper-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 5px;
    width: 100%;
    /*border: 1px solid white;*/
    /*border-radius: 25px;*/
}
