.page {
    max-width: 1000px;
    margin: 60px auto;
}


.outer-container-account {
    display: flex;
}
.inner-container-account{
    display: flex;
    padding-bottom: 120px;
    flex-wrap: wrap;
    width: 90vw;

}

.hilado-1 {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-wrap: wrap;

}
