
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient( rgba(188, 143, 143, 0.97), rgba(188, 143, 143, 0.96)),url("https://yt3.googleusercontent.com/47DxnLGtSiqm-o5vbWDHK9HkjrWsBPXE6CMkiM3Yw96Vbs9KJTfZyO6-DKP0GPG3yIQY_6Mn=s900-c-k-c0x00ffffff-no-rj");

    line-height: 1.5;
    color: white;

}

/*code {*/
/*    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/


.form-xtra {
    max-width:300px;
    /*margin-bottom: 80px;*/
    flex-direction: column;
    /*display: inline-block;*/
    /*padding-left: 15px;*/
    /*flex-grow: 1;*/
    /*height: 30vw;*/
    /*align-items:center;*/
    /*border: 1rem solid red;*/
/*justify-content: center;*/
}

select {
    display: block;
    margin: 12px 0 0 0;
}

text {
    margin-left: 8px;

}


textarea {
    margin: 8px 0 0 0;
    display: block;
}

fieldset {
    border: 3px solid #ededed;
    border-radius: 8px;
    margin-left: 16px ;
    margin-right: 10px;
    padding:  15px;
}
legend {
    font-size: 30px;
    margin-left: 17px ;
    margin-bottom: 10px;
    font-family: sans-serif;
    /*padding-left: 100px;*/
}