

.page {
    max-width: 1000px;
    margin: 60px auto;
}


.outer-container-admin {
    display: flex;

}
.inner-container-admin{
    display: flex;
    padding-bottom: 180px;
    justify-content: center;
    flex-wrap: wrap;

    width: 90vw;
}
.page_admin {
    column-count: 2;
    padding-bottom: 185px;
}